.header {
    background-color: #41bae3;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height:80px;
    flex-wrap: wrap;
}
.header_social_media {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    width: 350px;
}
.header_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    width: 350px;
}
.header_logo {
    width: 350px;
    text-align: center;
}
.header_contact li {
    list-style: none;
    
}
.header_logo span {
    font-size:38px;
    font-weight: 700;
    font-family: monospace;
}
@media only screen and (max-width: 600px) {
    .header {
        background-color: #41bae3;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        height: 60px;
        flex-wrap: wrap;
    }
}
