*{
    margin: 0;
    padding: 0;
}

.blog_row {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .post_image_card {
    background-color: #ffffff;
    padding: 9px 9px 9px 9px;
    margin: 24px 0px 11px 0px;
    width: 580px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 9.899px 9.899px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 9.899px 9.899px 30px 0 rgba(0, 0, 0, 0.1);
  }
  .post_image_header {
    position: relative;
    margin: 12px;
  }
  .post_image_card a img {
    transition: all 0.4s ease;
  }
  .post_image_card a img:hover {
    transition: transform 0.5s ease 0s;
    background-color: transparent;
    transform: translate(5px, -30px) rotate(2deg);
    color: #2676ea;
  }
  .post_body a {
    font-size: 21px;
    font-weight: 600;
    color: black;
    text-decoration: none;
  }
  .blog_section h1 {
    text-align: center;
    margin: 32px 0 20px 0;
  }
  .post_body a:hover {
    color: #2676ea;
  }
  .single_post {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 42px 12px;
  }
  .single_details {
    padding: 12px;
  }
  .single_title {
    font-size: 30px;
    font-size: 1.975rem;
    color: #000;
    font-weight: 600;
  
  }
  .single_details h2 {
    font-size: 27px;
    color: #444;
  
  }
  .single_details p {
  
    font-size: 16px;
  }
  .blog-actions {
    display: flex;
    gap: 30px;
}
  .single_post_card {
    background-color: #ffffff;
    padding: 9px 9px 9px 9px;
    margin: 24px 0px 11px 0px;
    background-color: #fff;
    -webkit-box-shadow: 9.899px 9.899px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 9.899px 9.899px 30px 0 rgba(0, 0, 0, 0.1);
  }
  .blog_card {
    padding: 16px;
  }
  .blog_title {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 22px;
    font-weight: 600;
  
  }
  .image_hflsbf {
    position: absolute;
    width: 550px;
    margin-top: 60px;
  }

  /* ----------------------------------------------------------------------------------------------------------------------- */

/* Blog Upload */

.form-container {
  width: 100%;
    margin: 0 auto;
    padding: 24px 46px 24px 46px;
}

.form-group-full {
  display: flex;
  margin: auto;
  column-gap: 24px;
  padding: 24px;
}
.form-group {
  margin-bottom: 10px;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 12px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.file-input {
  width: 100%;
  padding: 12px 0;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #ffae19;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #f45d01;
}
/* ============================= */

.blog_row {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 30px;
}

.post_image_card {
  background-color: #ffffff;
  padding: 9px 9px 9px 9px;
  margin: 24px 0px 11px 0px;
  width: 580px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 9.899px 9.899px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 9.899px 9.899px 30px 0 rgba(0, 0, 0, 0.1);
}
.post_image_header {
  position: relative;
  margin: 12px;
}
.post_image_card a img {
  transition: all 0.4s ease;
}
.post_image_card a img:hover {
  transition: transform 0.5s ease 0s;
  background-color: transparent;
  transform: translate(5px, -30px) rotate(2deg);
  color: #2676ea;
}
.post_body a {
  font-size: 21px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.blog_section h1 {
  text-align: center;
  margin: 32px 0 20px 0;
}
.post_body a:hover {
  color: #2676ea;
}
.single_post {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 42px 12px;
}
.single_details {
  padding: 12px;
}
.single_title {
  font-size: 30px;
  font-size: 1.975rem;
  color: #000;
  font-weight: 600;

}
.single_details h2 {
  font-size: 27px;
  color: #444;

}
.single_details p {

  font-size: 16px;
}
.single_post_card {
  background-color: #ffffff;
  padding: 9px 9px 9px 9px;
  margin: 24px 0px 11px 0px;
  background-color: #fff;
  -webkit-box-shadow: 9.899px 9.899px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 9.899px 9.899px 30px 0 rgba(0, 0, 0, 0.1);
}
.blog_card {
  padding: 16px;
}
.blog_title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 22px;
  font-weight: 600;

}
.image_hflsbf {
  position: absolute;
  width: 550px;
  margin-top: 60px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  
}

.input-group input {
  width:94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login_btn {
  width: 100%;
  padding: 10px;
  background-color: #41BAE3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


@media only screen and (max-width: 600px) {
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    width:auto;
}
.login-container {
  display:block;
  height: 100vh;
  padding: 8px;
}
}